ul {
  text-decoration: none;
}

.navbar {
  background: #192841;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 15px; padding-left: 15px;
}

.navdiv {
  display: flex; align-items: center;
  justify-content: space-between;
}

.logo a{
  font-size: 35px; font-weight: 600; color: white;
}

li {
  list-style: none; display: inline-block;
}

li a{
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}

.icons {
  border: 8px solid black;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.about {
  font-size: 20px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: white;
  padding: 50px;
  padding-right: 20%;
  border: 3px solid;
  height: 300px;
  background-color: rgb(43, 42, 42);
}

.container {
  width: 18vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 43%;
  left: 90%;
  overflow: hidden;
  border: 20px solid #ffffff;
  border-radius: 5px;
}

.wrapper {
  width: 100%;
  display: flex;
  animation: slide 12s infinite;
}
img {
  width: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(0);
  }
  38% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(-100%);
  }
  71% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.aspiring {
  font-size: 20px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: white;
  padding: 50px;
  padding-right: 20%;
  border: 3px solid;
  height: 300px;
  background-color: rgb(43, 42, 42);
}

.word {
  width: 650px;
  height: 400px;
  position: absolute;
  left: 10%;
}

.ppt {
  width: 650px;
  height: 400px;
  position: absolute;
  left: 60%;
}

.ac2 {
  position: relative;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.ac1 {
  position: relative;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.achieve {
  text-align: center;
  font-size: 30px;
}

.word:hover {
  transform: scale(1.2);
  transition: 1.1s;
}

.ppt:hover {
  transform: scale(1.2);
  transition: 1.1s;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.clogo {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 18%;
}

.javalogo {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 67%;
}

.column {
  flex: 50%;
  padding: 10px;
  text-align: center;
}

.row {
  display: flex;
  margin-bottom: 400px;
}

.row2 {
  display: flex;
}

.cproglang {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  position: relative;
} 

.java {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  position: relative;
}

.button {
  height: 100px;
  width: 100px;
}